.main {
    background: linear-gradient(135deg, #414345, #636466);
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    background: #fff;
    width: 800px;
    height: 600px;
    display: flex;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
    
}

.hero:hover {
    transform: scale(1.02);
}

.hero .hero-image {
    width: 500px;
    background: linear-gradient(135deg, #239393, #18787b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    padding: 30px;
}

.hero .hero-image img {
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hero .hero-image h1 {
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
 
}

.hero .hero-image p {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    color: black;
    padding: 10px;
}

.hero .hero-content {
    width: 500px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    justify-content: center;
}

.hero .hero-content input {
    height: 45px;
    border: none;
    border-bottom: 3px solid #636466;
    font-size: 16px;
    outline: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.hero .hero-content input:focus {
    border-bottom-color: #f1788c;
}

.hero .hero-content button {
    text-align: center;
    height: 50px;
    width: 140px;
    background: linear-gradient(135deg, #f1788c, #e05a6e);
    margin-left: auto;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero .hero-content button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(224, 90, 110, 0.5);
}.login-section {
    display: flex;
    justify-content: space-evenly; /* Space between arrow and login button */
    align-items: center;
    margin-top: 20px;
    padding: 0 20px; /* Add padding for spacing from the container edges */
}

.login-section span {
    font-size: 16px;
    color: #f4ebeb;
    margin: 0 20px; /* Space between the text and buttons */
    margin-top: 20px;
}

.login-section button {
    width: 100px;
    height: 40px;
    background: linear-gradient(135deg, #239393, #18787b);
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-section button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(245, 166, 35, 0.5);
}
